<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Suit</title>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/911613100657094701/912574582035202068/logo_1.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="/css/game.css">
</head>
<body>
    <div id="games">
        <header>
            <a href="/"><</a>
            <img alt="logo" src="https://cdn.discordapp.com/attachments/911613100657094701/912574582035202068/logo_1.png">
            <h1 class="text-title">rock paper scissors</h1>
        </header>
        <div class="box-games">
            <!-- <div id="result">
                <h1>draw</h1>
                <a href="/playgame">Play Again</a>
                <a href="/" >Home</a>
            </div> -->
            <div class="user-choices">
                <h1 class="text-nama">player 1</h1>
                <div class="choices">
                    <div class="choice batu hover" value="batu">
                        <img alt="batu" src="https://cdn.discordapp.com/attachments/911613100657094701/912574581791916042/batu_1.png">
                    </div>
                    <div class="choice kertas hover" value="kertas">
                        <img alt="kertas" src="https://cdn.discordapp.com/attachments/911613100657094701/912574581557039114/kertas_1.png">
                    </div>
                    <div class="choice gunting hover" value="gunting">
                        <img alt="gunting" src="https://cdn.discordapp.com/attachments/911613100657094701/912574581389275167/gunting_1.png">
                    </div>
                </div>
            </div>
            <div class="vs-reset">
                <div class="box-score">
                    <div class="score">
                        <h1 class="text-title user-score">0</h1>
                    </div>
                    <h1 class="text-nama colon">:</h1>
                    <div class="score">
                        <h1 class="text-title draw-score">0</h1>
                    </div>
                    <h1 class="text-nama colon">:</h1>
                    <div class="score">
                        <h1 class="text-title com-score">0</h1>
                    </div>
                </div>
                <div class="box-hasil">
                    <h1 class="text-vs">vs</h1>
                    <div class="hasil">
                        <h1 id="text-hasil">player 1 win</h1>
                    </div>
                </div>
                <img class="reset"alt="reset" src="https://cdn.discordapp.com/attachments/911613100657094701/912574581146013696/refresh_2.png">
            </div>
            <div class="com-choices">
                <h1 class="text-nama">com</h1>
                <div class="choices">
                    <div class="choice batu">
                        <img alt="batu" src="https://cdn.discordapp.com/attachments/911613100657094701/912574581791916042/batu_1.png">
                    </div>
                    <div class="choice kertas">
                        <img alt="kertas" src="https://cdn.discordapp.com/attachments/911613100657094701/912574581557039114/kertas_1.png">
                    </div>
                    <div class="choice gunting">
                        <img alt="gunting" src="https://cdn.discordapp.com/attachments/911613100657094701/912574581389275167/gunting_1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/game.js"></script>
</body>
</html>