<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')  %> 
</head>
<body>
  <%- include('./partials/navbar', {user})  %>
  <div id="content" class="bg">
    <div class="play-hover"><p>tiap game terdiri dari 8 ronde</p></div>
    <a href="/playgame" class="button">play now</a>
  </div>

  <script>
  </script>
</body>
</html>